POSTGRES_USER=bwf
POSTGRES_PASSWORD=changeme
POSTGRES_DB=bwf_pipeline
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

BWF_BASE_URL=https://extranet-lv.bwfbadminton.com/api
REQUEST_DELAY_SECONDS=3
REQUEST_TIMEOUT_SECONDS=30
MAX_RETRIES=3

DISCOVERY_CRON=0 8 * * 1
MATCHES_CRON=0 10 * * 1
SCRAPE_FROM_YEAR=2018
